a.four.columns{
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	letter-spacing: .1rem;
	line-height: 1.3;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}
#True{
	background-color: #1EAEDB;
	color: #FFF;
}

.None{
	color: #bbb
}
.complete{
	color: lightgreen;
}
.aborted{
	color: lightcoral;
}